
.image-container {
  background-image: url("acceuil.jpg"); /* The image used - important! */
  background-size: cover;
  position: relative; /* Needed to position the cutout text in the middle of the image */
  height: 300px; /* Some height */
}

.texte {
  background-color: white;
  color: black;
  font-size: xx-large; /* Responsive font size */
  font-family:American Typewriter, serif;
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

.icon-bar {
  width: 5%;
  background-color: rgb(0, 0, 0);
  overflow: auto;
}

.icon-bar a {
  float: right;
  width: 50%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 1.2em;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #201de2;
  color: white;
}


/*go to the personalization page */
.container {
  position: relative;
  width: 100%;
}

.column {
  float: left;
  width: 33.3%;
}

.image {
  display: block;
  width: 100%;
  height:auto;
}



.overlay1 {
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: #31a513;
  overflow: hidden;
  width: 100%;
  height:0;
  opacity: 0.8;
  transition: .5s ease;
}

.overlay2 {
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: #e08208;
  overflow:hidden;
  width: 100%;
  height:0;
  opacity: 0.8;
  transition: .5s ease;
}

.overlay3 {
  position: absolute;
  bottom: auto;
  left: 0;
  right: 0;
  background-color: #0eb6e0;
  overflow: hidden;
  width: 100%;
  height:0;
  opacity: 0.8;
  transition: .5s ease;
}

.container:hover .overlay1 {
  bottom: 0;
  height: 100%;
}

.container:hover .overlay2 {
  bottom: 0;
  height: 100%;
}

.container:hover .overlay3 {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: #88123f;
  color: white;
}
.adress
{
    justify-content: flex-end;
    align-self: flex-end;
}

.foot
{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(15, 3, 3);
  color: white;
  text-align: center;

}

.logo
{
float: left; 
width: 40%; 
border: 3px solid #f0f0f0; 
padding: 10px;

}

.quote {
  font-family:italic;
  background-color: rgb(12, 204, 218);
  overflow: auto;
  padding: 14px 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 17px
}

